<html>

<head>
    <title>gulp工作流</title>
    <!-- build:vendor-css -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css"/>
    <!-- endbuild -->
</head>

<body>
    12345667778

    <!-- build:vendor-js -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    
    <script src="/node_modules/core-js/client/shim.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="/node_modules/rxjs/bundles/Rx.umd.js"></script>
    <script src="/node_modules/@angular/core/bundles/core.umd.js"></script>
    <script src="/node_modules/@angular/http/bundles/http.umd.js"></script>
    <!-- endbuild -->
    <!-- build:index-module -->
    <script src="/ts/index.ts"></script>
    <!-- endbuild -->
</body>

</html>